body{
    width: 100%;
    height: 100%;
}

#centrador{
    background: white;
    height: 80px;
  }


.corporativas{
    border-style:solid;
    border-color:#1f8ac0;
    margin-left: 4.2%;
    margin-right: 5%;
    margin-top: 30%;
    margin-bottom: 5%;
    background:#1f8ac0;
    text-align: center;
    text-align: left;
    color:white;
    }
.letras{
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 15%;
  align-content: flex-start;
  color: black;
}
.letras2{
  margin-left: 15%;
  margin-top: 3%;
  margin-right: 15%;
  align-content: flex-start;
  color: black;
}

.tabla{
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  width:80%;
  text-align: center;
}

.botonserie{
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  width:80%;
  text-align: center;

}



  .btn-secondary
  {
    background-color: #b71c1c;
    border-color: #ba93d2;

  }
  .btn-secondary:hover
  {
    background-color:  #01579b;
    border-color: #ba93d2;
  }

  .table-bordered {
    border: 1px solid #263238;
  }

  .table-bordered{
    border: 1px solid  #263238;
  }

  .table thead th {
    border-bottom: 2px solid  #263238;
  }

  .table-bordered td, .table-bordered th {
    border: 1px solid #263238;
  }

.navbar-laravel {
    background-color: #01579b;
    }

  /* .pagination{
    padding-left:424px;
  } */

  .navbar-light .navbar-brand {
    color:white;
  }

  .navbar-light .navbar-nav .nav-link {
    color:white;
  }

  .body{
    background-color: red;

  }

  div#example_filter.dataTables_filter {
    margin-top: 5%;
    padding-right:100px;
  }

  ul#pagination{
    padding-left: 9%;
    padding-right: 10px;
    margin-left: 40%;
  }

  ul#pagination1{
    margin-left: 55%;
  }

  ul.pagination{
    /* padding-right: 5px;
    padding-top:5px; */
    padding-right: 9%;
  }


  .pagina{
    padding-right: 5px;
    padding-top:5px;
    padding-left: 500px;
  }


  #pagi{
  margin-left: 46%;
  padding-left: 45px;
  }



  .paginate{
    padding-right:10px;
    padding-top:5px;

  }

  .dataTables_length{
    padding-right: -50px;
  }

  .encabezadotabla{
    background:#e1f5fe;
  }

  #example_length label
  {
    margin-bottom: 0;
  }

  .dt-buttons
  {
    padding-left: 10px;
  }

  element.style {
  margin-right: 50%;
  }
.order
{
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.form-group
{
  /* display: inline; */
}
footer
{
  width: 100%;
  position: absolute;
	bottom: 0 auto;
  margin-top: 50px;
}
#footer{
  background: #01579b;

}

#footer a
{
  color: white;
}

div.row.justify-content-center{
  padding: 15%;
}

#img_nea
{
  float: right;
}

#position
{
  display: inline;
}

/* div#position
{
  margin: 5px;
} */
